@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --primary-color: rgba(0, 0, 0, 0.676);
  --secondery-color: rgb(131, 132, 135);
  --third-color: rgba(255, 255, 255, 1);
  --btn-color: rgba(236, 25, 102, 0.932);
  --footer-color: #0a0826;
}

/* shared styles */
.navbar,
.banner,
.sponsorse {
  max-width: 1240px;
  margin: 70px auto;
}
/* short class */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.descrip {
  font-weight: 600;
  color: var(--primary-color);
}
.btn {
  background-color: var(--btn-color);
  border: none;
  font-weight: bold;
  color: white;
  padding: 10px 24px;
  border-radius: 41px;
  gap: 8px;
}
.btn:hover{
  scale: .95;
  transition: .3s;
}
/* header styles */
.menu-icon {
  display: none;
  font-size: 1.4rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-list {
  list-style: none;
}
.nav-list a {
  text-decoration: none;
}
.nav-list a:hover {
  border-bottom: 2px solid red;
  transition: .1s ease-in-out;
}
.nav-list {
  gap: 34px;
}
.nav-item a {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
}
.cart {
  font-size: 1.4rem;
  margin-left: 34px;
}
.cart i{
  margin-left: 20px;
  cursor: pointer;
}
.cart i:hover{
  scale: 1.2;
  transition: .3s;
}
.text-content {
  max-width: 580px;
  gap: 16px;
}
.text-content .heading {
  font-size: 3.25rem;
}
.banner-img {
  max-width: 475px;
  background-image: url(./images/Circle\ design.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* sponsorse section styles */
.sponsorse {
  border-top: 1.7px solid rgba(128, 128, 128, 0.146);
  border-bottom: 1.8px solid rgba(128, 128, 128, 0.146);
  padding: 35px;
}
.sponsor-img {
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  gap: 80px;
  align-items: center;
}

/* main section styles */

.product-container {
  max-width: 1050px;
  margin: 100px auto 0px;
  margin-top: 50px;
}
.product-container h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product-box {
  max-width: 408px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 50px rgba(128, 128, 128, 0.495);
}
.product-box h4 {
  font-size: 1.75rem;
  font-weight: 600;
}
.product-box .price {
  font-size: 1.5rem;
  font-family: "Inter", serif;
}
.product-box .value {
  font-weight: bold;
  color: var(--secondery-color);
  font-family: "Roboto", serif;
}
.product-description {
  font-size: 0.9rem;
  font-family: "Inter", serif;
  font-weight: bold;
  color: var(--secondery-color);
}
.product-container .see-more {
  max-width: 1050px;
  margin: 50px 0px;
  font-weight: bold;
  color: var(--btn-color);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
/* featured section styles  */
.featured {
  max-width: 1110px;
  margin: 0 auto;
}
.featured .content {
  max-width: 610px;
  gap: 18px;
}
.featured .content h3 {
  font-size: 2.37rem;
  font-weight: bold;
}
.featured .content p {
  font-weight: bold;
  color: var(--secondery-color);
}
.featured .content .btn i {
  margin-left: 8px;
}
/* footer styles  */
.footer {
  width: 100%;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.footer-content {
  color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 50px 0px;
}

.footer-content .heading {
  font-size: 1.5rem;
  font-weight: bold;
}
.footer-content .copyright {
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.769);
  margin-top: 10px;
  font-family: "Inter", serif;
}
.footer .social-icon {
  gap: 20px;
}
.footer .social-icon .icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(39, 38, 38);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .logo{
    font-size: 1rem;
  }
  .navbar {
    margin: 0 auto;
    padding: 35px 16px 0px;
  }
  .nav-list {
    flex-direction: column;
    width: 150px;
    position: absolute;
    left: 0;
    top: 90px;
    padding-left: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    /* display: none; */
  }
  .menu-icon {
    display: block;
  }
  .menu-icon:hover .nav-list{
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner .heading{
  font-size: 1.5rem;
}
  .sponsorse {
    width: 100%;
  }
  .sponsor-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .text-content {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  content #h2 {
    font-size: 28px;
  }
  .text-content p {
    color: rgba(0, 0, 0, 0.676);
  }
  .product-container {
    width: 100vw;
  }
  #products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
  .product-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .featured {
    flex-direction: column;
  }
  .featured .content {
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .footer {
    width: 100%;
  }
}
